<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.snail.contact.sync"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
            android:minSdkVersion="17"
            android:targetSdkVersion="17"/>


    <instrumentation
            android:name="android.test.InstrumentationTestRunner"
            android:targetPackage="com.snail.contact.sync"/>

    <!--permission-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"></uses-permission>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">

        <!-- test case-->
        <uses-library android:name="android.test.runner"/>

        <!-- activity-->
        <activity android:name="com.snail.contact.HomeActivity"
                >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
                android:name="com.snail.contact.account.AuthenticatorActivity"
                android:excludeFromRecents="true"
                android:configChanges="orientation"

                />
        <!-- The authenticator service -->
        <!--service-->

        <service
                android:name="com.snail.contact.account.AuthenticationService"
                android:exported="true"
                android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>

            <meta-data
                    android:name="android.accounts.AccountAuthenticator"
                    android:resource="@xml/authenticator"/>
        </service>

    </application>
</manifest>
